.contactItem {
  text-align: center;
  margin: 15px 0 15px;
  list-style-type: none;
}
.name {
  font-size: 20px;
  margin-right: 15px;
  color: #2099c7;
}

.phone {
  font-size: 20px;
  margin-right: 15px;
  color: #3c637f;
}

.btnDelete {
  appearance: none;
  -webkit-appearance: none;
  padding: 10px;
  border: none;
  background-color: #307086;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
}
